
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.choreslist{
    background-color: lightgoldenrodyellow;
    width: 75%;
    border-radius: 20px;
    height: 300px;
    padding: 20px;
    overflow-inline:scroll;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 10px auto;

}

.chore {
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin: 5px;
    background-color: green;
    border-radius: 10px;

  
  }
  
  .chore>p {
    margin: 5px;
    padding:10px;
    background-color: lightblue;
  }

.AccountInfo{
    padding:20px;
    background-color: wheat;
}

.Chores{
    position: relative;
}



.ChoresModal{
    position: absolute;
    opacity: 1 !important;
    background-color: palevioletred;
    translate: calc(50vw - 50%) calc(50vh - 50%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 50px;
}
.ChoresModal *{
    margin: 10px;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
}

.progress-bar{
    background-color: white;
    width: 80vw;
    height: 30px;
    border-radius: 10px;
    
}

.inner-progress-bar{
    background-color: rgba(21, 255, 0, 1);
    font-family: 'Abril Fatface';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(21, 255, 0, 0.75);
-webkit-box-shadow: 0px 0px 10px 5px rgba(21, 255, 0, 0.75);
-moz-box-shadow: 0px 0px 10px 5px rgba(21, 255, 0, 0.75);
}

.chores-form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}



.logo{
    background-color: transparent;
    border: 10px solid transparent;
    border-radius: 10%;
    width: 50px;
    filter: drop-shadow(0px 0px 10px );

}

.Hero>p{
    width: 90%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding-left:  20px;
}


