
.Credit{
    position: relative;
    height: 100%;
    border-radius: 30px;
    overflow: scroll;
}

.CreditLine>button{
background-color: red;
}
.CreditLine{
    border-radius: 10px;
    margin: 10px;
}
.CreditLine *{
    border-radius: 10px;

}





