.credit-line-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-credit-line {
    position: absolute;
    background-image: url("../assets/plus-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}

.Credit {
    position: relative;
    height: 100%;
    border-radius: 30px;
    overflow: scroll;
}

.CreditLine {
    border-radius: 10px;
    margin: 10px;
}

.CreditLine * {
    border-radius: 10px;

}

.CreditInfo>button:not(:hover) {
    transition: 0.25s ease-in-out;
    transform: scale(1.0);
}

.CreditInfo>button:hover {
    transition: 0.25s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}



.CreditInfo {
    padding: 20px;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}
.pay-credit-btn{

    background-image: url("../assets/credit-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130% 180%;
    width: 100px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    z-index: 1;

}

.CreditInfo>p {
    border: 1px solid black;
  padding: 5px;
  margin: 5px;
  height: fit-content;
  background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}