

.Savings{
    position: relative;
    height: 85%;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}
.Savings *{
    border-radius:10px;
}