.whole-page {
  background-color: pink;
  display: flex;
  flex-direction: column;
position: relative;
  height: 100vh;

}

.Footer {
  position: absolute;
  translate: 3vw 96vh;
}

.Hero {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 155, 169);

}