.whole-page{
  background-color: pink;
  display: flex;
  flex-direction:column;

  height: 100vh;

}

.Footer{
  position: absolute;
  translate: 3vw 97vh;
}
.Hero{
display: flex;
justify-content: center;
background-color: rgb(241, 155, 169);

}


